{% extends 'base.html' %}

{% load static %}

    {% block style %}
        <link rel="stylesheet" href="{% static "contactapp/css/addstyle.css" %}">
    {% endblock %}

    {% block title %}
        <title>Ajouter Contact</title>
    {% endblock %}


    {% block content %}

        <div class="container">
            <div class="row justify-content-center">

                <a href="{% url 'index' %}" class="back-arrow"><i class="fas fa-arrow-left"></i></a>
                <div class="col">

                    <div class="card">
    <!-- CARD HEADER -->

                        <div class="card-header">
                            <p>Nouveau Contact</p>
                        </div>

    <!-- CONTACT SECTION -->

                        <form action="" method="POST">
                            {% csrf_token %}

                            <section class="add-section">
                                    <div class="add-content">
                                        <i class="fas fa-user"></i>
                                        {{ form.full_name }}
                                    </div>
                            </section>

                            <section class="add-section">
                                <div class="add-content">
                                    <i class="fas fa-phone"></i>
                                    {{ form.phone }}
                                </div>
                            </section>

                            <section class="add-section">
                                <div class="add-content">
                                    <i class="fas fa-envelope"></i>
                                    {{ form.email }}
                                </div>
                            </section>

                            <section class="add-section">
                                <div class="add-content">
                                    <i class="fas fa-users"></i>
                                    {{ form.group }}
                                </div>
                            </section>

                            <div class="add-button">
                                <button type="submit" class="btn btn-dark btn-lg">Ajouter Contact</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
