{% extends 'base.html' %}

{% load static %}

<!doctype html>
<html lang="fr">
<head>
    {% block style %}
        <link rel="stylesheet" href="{% static "contactapp/css/delete.css" %}">
    {% endblock %}

    {% block title %}
        <title>Supprimer Contact</title>
    {% endblock %}
</head>

<body>

    {% block content %}

        <div class="container">
            <div class="row justify-content-center">

                <a href="{% url 'contact-detail' contact.id %}" class="back-arrow"><i class="fas fa-arrow-left"></i></a>
                <div class="col">
                    <div class="card">
    <!-- CARD HEADER -->

                        <div class="card-header">
                            <p class="card-header-contact">{{ contact }}</p>

                            <div class="header-icon-name">
                                <i class="fas fa-users"></i>
                                <p class="header-contact-name">{{ contact.group }}</p>
                            </div>



                        </div>

    <!-- CONTACT SECTION -->


                        <div class="main-section">
                            <p>Etes-vous sûr de vouloir supprimer le contact ?</p>
                                <div class="icon-name">

                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-dark btn-lg"><i class="fas fa-trash-alt"></i>Supprimer Contact</button>
                                    </form>
                                </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>

