{% extends 'base.html' %}

{% load static %}

<!doctype html>
<html lang="fr">
<head>
    {% block style %}
    <link rel="stylesheet" href="{% static "contactapp/css/detail.css" %}">
    {% endblock %}

    {% block title %}
    <title>Contact</title>
    {% endblock %}

</head>

<body>

    {% block content %}

    <div class="container">
        <div class="row justify-content-center">

        {%  if "?query" in previous_page %}
            <a href="{{ previous_page }}" class="back-arrow"><i class="fas fa-arrow-left"></i></a>
        {% else %}
            <a href="{% url 'index' %}" class="back-arrow"><i class="fas fa-arrow-left"></i></a>
        {% endif %}
            <div class="col">
                <div class="card">
<!-- CARD HEADER -->

                    <div class="card-header">
                        <p class="card-header-contact">{{ contact }}</p>

                        <div class="group-edit">
                            <div class="name-group">
                                <div class="header-icon-name">
                                    <i class="fas fa-users"></i>
                                    <p class="header-contact-name">{{ contact.group }}</p>
                                </div>
                            </div>

                            <div class="edit-icons">
                                <a href="{% url 'edit-contact' contact.id %}">
                                    <i class="fas fa-user-edit"></i>
                                </a>

                                <a href="{% url 'delete-contact' contact.id %}">
                                    <i class="fas fa-user-minus"></i>
                                </a>
                            </div>

                        </div>

                    </div>

<!-- CONTACT SECTION -->


                    <div class="contact-section">
                        <div class="contact-phone-mail">

                            <div class="icon-name">
                                <i class="fas fa-phone"></i>
                                <p class="contact-name">{{ contact.phone }}</p>
                            </div>

                            <div class="icon-name">
                                <i class="fas fa-envelope"></i>
                                <a href="mailto:{{ contact.email }}"><p class="contact-name">{{ contact.email }}</p></a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    {% endblock %}
</body>
</html>

