{% extends 'base.html' %}

{% load static %}


    {% block style %}
        <link rel="stylesheet" href="{% static "contactapp/css/style.css" %}">
    {% endblock %}

    {% block title %}
        <title>Contacts</title>
    {% endblock %}



    {% block content %}

    <header>
        <nav class="navbar">
            <span class="navbar-brand">{% block nav-title %}Contacts{% endblock %}</span>
            <a href="{% url 'logout' %}" type="button" ><i class="logout-icon fas fa-sign-out-alt"></i></a>
        </nav>
    </header>

    <div class="container">
        <div class="row justify-content-center">



            <div class="col">
                <div class="card">
<!-- CARD HEADER -->
                    <div class="card-header">
                        <form action="{% url "search" %}" method="get" accept-charset="UTF-8">
                            <input class="search-form form-control form-control-md" name="query" type="search" placeholder="Chercher Contact" aria-label="search">
                        </form>

                        <a href="{% url 'add-contact' %}">
                            <i class="add-contact fas fa-plus-circle"></i>
                        </a>

                    </div>
<!-- CONTACT SECTION -->
                    {% if not page_obj %}
                        <p class="message">Aucun résultat pour "{{ query }}"</p>
                    {% endif %}

                    {% for contact in page_obj %}
                        <a href="{% url 'contact-detail' contact.pk %}" class="contact">

                            <div class="contact-section">

                                <div class="icon-name">
                                    <i class="fas fa-user"></i>
                                    <p class="contact-name">{{ contact}}</p>
                                </div>
                                <div class="contact-group">
                                    {{ contact.group }}
                                </div>

                            </div>
                        </a>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>

    <!--Pagination-->
        {% if page_obj %}
            <div class="row justify-content-center pagination">

                <div class="step-links">
                    <div class="arrows-pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page=1"><i class="fas fa-fast-backward"></i></a>
                            <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-step-backward"></i></a>
                        {% endif %}
                    </div>
                    <div class="current">
                        <p>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</p>
                    </div>
                    <div class="arrows-pagination">
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }} "> <i class="fas fa-step-forward"></i></a>
                        {% endif %}
                         <a href="?page={{ page_obj.paginator.num_pages }} "> <i class="fas fa-fast-forward"></i></a>
                    </div>
                </div>

            </div>
        {% endif %}
    </div>

    <!-- END PAGINATION -->

    {% endblock %}

