{% extends 'base.html' %}

{% load static %}

<!doctype html>
<html lang="fr">
<head>
    {% block style %}
        <link rel="stylesheet" href="{% static "contactapp/css/style.css" %}">
    {% endblock %}

    {% block title %}
        <title>Contacts</title>
    {% endblock %}

</head>

<body>


    {% block content %}

    <header>
        <nav class="navbar">
            <span class="navbar-brand">{% block nav-title %}Contacts{% endblock %}</span>
        </nav>
    </header>

    <div class="container">
        <div class="row justify-content-center">



            <div class="col">
                <div class="card">
<!-- CARD HEADER -->
                    <div class="card-header">
                        <form action="{% url "search" %}" method="get" accept-charset="UTF-8">
                            <input class="search-form form-control form-control-md" name="query" type="search" placeholder="Chercher Contact" aria-label="search">
                        </form>

                        <a href="{% url 'add-contact' %}">
                            <i class="add-contact fas fa-plus-circle"></i>
                        </a>

                    </div>
<!-- CONTACT SECTION -->
                    {% if not page_obj %}
                        <p class="message">Aucun résultat pour "{{ query }}"</p>
                    {% endif %}

                    {% for contact in page_obj %}
                        <a href="{% url 'contact-detail' contact.pk %}" class="contact">

                            <div class="contact-section">

                                <div class="icon-name">
                                    <i class="fas fa-user"></i>
                                    <p class="contact-name">{{ contact}}</p>
                                </div>
                                <div class="contact-group">
                                    {{ contact.group }}
                                </div>

                            </div>
                        </a>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>

    <!--Pagination-->
        {% if page_obj %}
            <div class="row justify-content-center pagination">

                <div class="step-links">
                    <div class="arrows-pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page=1"><i class="fas fa-fast-backward"></i></a>
                            <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-step-backward"></i></a>
                        {% endif %}
                    </div>
                    <div class="current">
                        <p>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</p>
                    </div>
                    <div class="arrows-pagination">
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }} "> <i class="fas fa-step-forward"></i></a>
                        {% endif %}
                         <a href="?page={{ page_obj.paginator.num_pages }} "> <i class="fas fa-fast-forward"></i></a>
                    </div>
                </div>

            </div>
        {% endif %}
    </div>

    <!-- END PAGINATION -->

    {% endblock %}

    <!-- Optional Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>