body {
    font-family: "Lato", sans-serif;
    background-color: #292929;

}

.container {
    margin-top: 3rem;
    max-width: 420px;
    height: 100vh;
}

.col {
    display: flex;
    justify-content: center;
}

a.back-arrow {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.card {
    width: 25rem;
    background-color: #343737;
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    padding-left: 1em;
    background: rgb(0,148,94);
    background: linear-gradient(90deg, rgba(0,148,94,1) 0%, rgba(1,126,126,1) 100%);
}

.group-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-header p {
    margin: 0;
    font-size: 2.2em;
    color: white;
}

.header-icon-name {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-icon-name p {
    font-size: 1.2em;
    margin: 0;
}

.header-icon-name i {
    font-size: 1.2em;
    color: white;
    margin-right: 0.8em;
}

.edit-icons {
    height: 2em;
    display: flex;
    justify-content: space-around;
}

.edit-icons a {
    text-decoration: none;
    color: white;
}

.edit-icons i {
    font-size: 1.5em;
    color: white;
    margin-left: 1em;
}

.edit-icons i:hover {
    color: grey;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.icon-name {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 2em 0;
}

.icon-name i {
    font-size: 1.6em;
    margin: 0;
    color: white;
}

.icon-name a {
    text-decoration-color: white;
}
.contact-name {
    font-size: 1.1em;
    color: white;
    margin: 0 2em;
}
